:root {
   --border: #8A2BE1;
   --text: #B537F2;
   --bg-color: #120052;
}

* {
   padding: 0;
   margin: 0;
   box-sizing:border-box;
   font-family: 'Questrial', sans-serif;
}

body {
   background-color: var(--bg-color);
}


.top {
   margin-top: 1vh;
   display: grid;
   place-items: center;
   font-weight: 500;
   font-size: xx-large;
   color: var(--text);
}


.center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-block: 13vh;
}

button {
   position: relative;
   z-index: 1;
   margin-block: 2vh;
   width: max(8ch, 60%);
   cursor: pointer;
   font-weight: 500;
   font-size: xx-large;
   border: 5px solid var(--border);
   border-radius: 6px;
   background-color: var(--bg-color);
}

button::after {
   content: "";
   position: absolute;
   z-index: -1;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 0;
   background-image: linear-gradient( #120052 , #8A2BE1);
   transition: height 250ms ease-out;
}

button:hover::after {
   height: 100%;
}

.center a {
   text-decoration: none;
   color: var(--text);
   padding-inline: max(0px, 20%);
   padding-block: 3px;
}

footer a {
   text-decoration: none;
   color: var(--text);
}

footer {
   margin-top: max(0px, 7vh);;
   color: var(--text);
   font-weight: 500;
   font-size: xx-large;
   display: flex;
   justify-content: center;
}
